.afiliados-wrapper {
    position: relative; /* Permite que los hijos posicionados sean relativos a este contenedor */
}

.afiliados-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Distribuye espacio entre elementos */
    padding: 20px 20px; /* Espaciado alrededor */
}

.logo {
    max-width: 200px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la relación de aspecto */
}

.header-actions {
    display: flex;
    align-items: center; /* Alinea todos los elementos dentro de este contenedor */
}

.links-container {
    display: flex; /* Muestra los enlaces en fila */
    justify-content: center; /* Centra los enlaces horizontalmente */
    margin-right: 20px; /* Espacio entre enlaces y botón */
}

.link {
    margin: 0 15px; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    color: #000; /* Cambia el color del texto si es necesario */
    font-size: 16px; /* Tamaño de fuente */
}



.buscador {
    display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    padding: 1rem; /* Espaciado interno */
}

.text {
    text-align: center; /* Centrar el texto */
    margin-bottom: 1rem; /* Espacio entre el texto y el input */
}

.buscer {
    width: 50%; /* Cambiar a un ancho del 80% del contenedor */
    height: 5rem;
    border-radius: 40px;
    font-size: 1.5rem;
    padding: 0 1rem; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.loguear{
    background-color: #fff;
    border-color: #000;
    color: #000;
    width: 140px;
    height: 50px;
    margin-top: 20px;
}

.clinica-logo-container {
    width: 300px; /* Aumenta el ancho del contenedor */
    height: 150px; /* Aumenta la altura del contenedor */
    overflow: hidden; /* Oculta el desbordamiento */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.clinica-logo {
    max-width: 100%; /* Ajusta el ancho máximo */
    max-height: 100%; /* Ajusta la altura máxima */
    object-fit: contain; /* Mantiene la proporción original */
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}


/* .p-carousel-container{
    height: 150px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    text-align: center;
} */

.carruselclinica {
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /* Centra el carrusel horizontalmente */
    margin: 20px auto; /* Margen automático para centrar */
    width: 100%; /* Asegura que el carrusel ocupe el 100% del ancho disponible */
    max-width: 1500px; /* Limitar el ancho máximo del carrusel */
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
    display: none;
    
}

.p-carousel-item-active{
    display: flex;
    justify-content: center;
}

.p-carousel .p-carousel-indicators{
    display: none;
}

.p-carousel .p-carousel-content {
    display: flex; /* Asegura que los items sean flexibles */
}

.p-carousel .p-carousel-item {
    display: flex; /* Permite centrar el contenido del ítem */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.p-carousel .p-carousel-indicators {
    display: none; /* Oculta los indicadores si no son necesarios */
}

.Barra {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea las dos secciones (Informacion y Link) a la misma altura */
    padding: 20px;
    background: #176ABC;
    color: white;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que los elementos se acomoden cuando la pantalla sea pequeña */
}

.Informacion {
    width: 28%; /* Ajusta el ancho para que ambos se alineen y no ocupen todo el ancho */
    margin-bottom: 20px; /* Añadir un margen inferior para los casos en que el contenido se apile */
}

.Link {
    width: 40%;
    margin-bottom: 20px; /* Añadir un margen inferior para los casos en que el contenido se apile */
}

.iconos {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px; /* Espacio entre el texto y los iconos */
}

.iconos p {
    margin: 0 10px;
}

.iconos i {
    font-size: 2rem; /* Aumentamos el tamaño de los iconos para mayor visibilidad */
}

h3 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

.Link p {
    margin-bottom: 10px;
}

.Link i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background: #176ABC;
}

.spinner-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-center {
    margin-top: 10px; /* Ajusta este valor para espaciar el logo del spinner */
    width: 100px; /* Ajusta el tamaño del logo */
    position: absolute;
}


/* Media Query para pantallas de 768px o menos */
@media (max-width: 768px) {
    
    .Informacion, .Link {
        width: 100%; /* Ambos ocupan todo el ancho */
        margin-bottom: 20px; /* Espacio entre los divs */
    }

    .iconos {
        justify-content: center; /* Centra los iconos en pantallas pequeñas */
    }

    .iconos p {
        margin: 0 5px; /* Espacio reducido entre iconos */
    }

    .iconos i {
        font-size: 2.5rem; /* Aumentar ligeramente el tamaño de los iconos */
    }
}

/* Media Query para pantallas de 480px o menos */
@media (max-width: 480px) {
    .Barra {
        flex-direction: column; /* Apila los elementos en columnas */
        align-items: center; /* Centra los elementos */
    }

    .Informacion, .Link {
        width: 90%; /* Hacer que ambos divs ocupen casi todo el ancho */
        text-align: center; /* Centrar el texto */
    }

    .iconos p {
        margin-bottom: 10px; /* Espacio vertical entre iconos */
    }

    .iconos i {
        font-size: 2rem; /* Aumentar más el tamaño de los iconos */
    }
}



@media (max-width: 768px) {
    .link{
        display: none;
    }
    .carruselclinica {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra elementos verticalmente */
    }
    
    .clinica-logo-container {
        width: 80%; /* Ajusta el contenedor de los logos en pantallas pequeñas */
        height: 120px; /* Ajusta la altura automáticamente */
    }
    
    .buscer {
        width: 80%; /* Ampliar el ancho en pantallas pequeñas */
        font-size: 1.2rem; /* Reducir tamaño de fuente */
    }
}

@media (max-width: 480px) {
    .clinica-logo-container {
        width: 90%; /* Aumenta el ancho en pantallas más pequeñas */
        height: 120px; /* Ajusta la altura automáticamente */
    }

    .clinica-logo {
        max-width: 100%; /* Asegúrate de que las imágenes se escalen correctamente */
        max-height: 80px; /* Mantén la altura máxima deseada */
    }
    .buscer {
        height: 4rem; /* Reducir la altura en pantallas más pequeñas */
        font-size: 1rem; /* Reducir aún más el tamaño de fuente */
    }
}