.nivel-1 {
    background-color: #c4e4e9; /* Lavanda pálido */
  }
  
  .nivel-2 {
    background-color: #b6def5; /* Azul celeste */
  }
  
  .nivel-3 {
    background-color: #c9ebfd; /* Azul celeste */
  }
  