.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
  }
  
  .login-left {
    width: 40%;
  }
  
  .tituloLogin {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #85C226;
  }
  
  .p-inputgroup {
    display: flex; /* Aligns the input text and the button in a row */
    position: relative; /* Needed to position the button relative to this container */
    width: 100%;
}
  
  .login-button {
    width: 100%;
    margin-top: 20px;
    background: #85C226;
    color: #fff;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  .register-link a{
    font-weight: bold;
  }
  .login-right {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  
  .login-image {
    width: 90%;
    height: auto;
    max-height: 100%;
  }
  
  .login-container a {
    color: black; /* Cambia el color de los enlaces a negro */
    text-decoration: none; /* Opcional: elimina el subrayado */
  }
  
  .login-container a:hover {
    text-decoration: underline; /* Opcional: añade subrayado al pasar el mouse */
  }

  .p-inputgroup .p-button-secondary {
    position: absolute; /* Positions the button absolutely inside the input group */
    right: 10px; /* Adjust the right padding based on your design */
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%); /* Fine-tune vertical centering */
}

  .input-group .p-inputtext {
    background-color: white;
    width: 100%; /* Make input take full width of the container */
    height: 50px;
    border-radius: 8px;
}
  
  .login-button {
    border-radius: 8px;
    border-color: #000; /* Ajusta el valor para cambiar el grado de curvatura */
    height: 50px;
  }

  .input-group label {
    margin-bottom: 10px; /* Espacio entre el label y el input */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    margin-top: 10px;
  }
  
  .p-button-secondary {
    background: transparent;
    border-color: transparent;
    color: #85C226;
    position: absolute;
    right: 10px; /* Distance from the right edge of the input */
    top: 50%;
    transform: translateY(-50%); /* Adjusts vertical alignment */
    padding: 0; /* Optional: Remove default padding */
}
  
  .back-button {
    background-color: white;
    border: 2px solid #85C226; /* Grosor y color de los bordes */
    border-radius: 50%; /* Hace el botón circular */
    width: 50px; /* Tamaño del botón */
    height: 50px; /* Tamaño del botón */
    display: flex;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el contorno del botón */
    color: #85C226;
    top: 0;
    position: absolute;
    left: 0;
    margin: 10px;
  }
  
  @media (max-width: 890px) {
    .login-container {
      flex-direction: column; /* Asegura que el contenido se apile verticalmente */
      align-items: center; /* Centra el contenido horizontalmente */
      justify-content: center; /* Centra el contenido verticalmente */
      height: 100vh; /* Ocupa toda la altura de la pantalla */
    }
  
    .login-left {
      width: 100%; /* Hace que el contenedor del login ocupe todo el ancho */
      padding: 20px; /* Agrega un poco de padding si lo deseas */
      box-shadow: none; /* Quita cualquier sombra si hay */
    }
  
    .login-right {
      display: none; /* Oculta la imagen */
    }
  }

