.register-container {
    display: flex;
    
    /* justify-content: center;
    align-items: center; */
   
     background-color: #f8f9ff;
    
    position: relative;
    height: 100%;
    padding: 10px 20px;
    
    
}


.register-box {
    width: 100%; /* Cambiar a 100% para que ocupe todo el ancho */
    max-width: 550px; /* Limitar el ancho máximo */
    padding: 30px;
    background-color: white;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
  
}
.register-box .input-group label{
    font-size: 16px!important;

}

.register-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.register-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.Gruppo{
    display: flex;
    gap: 30px;
}

.input-group {
    text-align: left;
    margin: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.input-button-group {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Alineación vertical */
}

.register-input {
    flex: 1; /* Para que ocupe todo el espacio disponible */
    height: 50px;
    margin-right: 10px; /* Espacio entre el Input y el Button */
    
}

.input-group .p-inputtext{
    min-width: 0px;
}

.validate-button {
    background-color:#85C226!important; /* Color morado */
    border: none; /* Sin borde para mejor apariencia */
    color: white; /* Texto blanco */
    height: 50px;
    min-width: 100px; /* Asegurar un ancho mínimo */
    position: relative;
    right: 4px;
    border-radius: 0px 9px 9px 0px;
}

.validate-button:hover {
    background-color: rgb(7, 115, 216); /* Color al pasar el mouse */
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #85C226;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.login-link {
    font-size: 1rem;
    position: absolute;
    top: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    text-align: right; /* Alinea el texto a la derecha */
}

.Iniciar {
    color: #85C226; /* Cambia a rojo */
  }

.login-link a {
    font-weight: bold;
    margin-left: 10px; /* Espacio entre los enlaces */
}

/* Login.css */
.checkbox-custom {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-custom a{
    color: black; /* Cambia el color de los enlaces a negro */
    text-decoration: none; /* Opcional: elimina el subrayado */
}

.checkbox-custom .p-checkbox {

border-radius: 8px; /* Circular */
width: 24px; /* Ajusta el tamaño */
height: 24px; /* Ajusta el tamaño */
cursor: pointer;
}

.checkbox-custom .p-checkbox.p-checkbox-checked {
background-color: black; /* Color de fondo cuando está seleccionado */
}

.login-link a:hover {
    text-decoration: underline;
}
.input-calendar .p-datepicker-trigger{
    background-color: transparent!important;
    border-color: transparent!important;
    position: relative;
    right: 4px;
    border-radius: 0px 9px 9px 0px;
    /* color: #101828; */
}
.message-document{
    background-color: #eff6ff;
    color: #3f5dc5;
    margin-top: 5px;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}
.message-document span{
    color: #3f5dc5;
    font-weight: 600;
}
.message-document a{
    color: #3f5dc5;
    font-weight: 600;
}
.terminosLink{
    font-weight: 500;
    cursor: pointer;
}
.terminosLink:hover{
    
    text-decoration: underline black;
}
.message-error{
    margin: 5px 0px 2px 9px;
    color:rgb(243, 18, 96);
    font-size: 14px;
} 
.input-error {
    border-color:rgb(243, 18, 96)!important;
  
}
.input-error input  {
    border-color:rgb(243, 18, 96)!important;
  
}
.label-error{
    color: rgb(243, 18, 96);;
}
.left-section-image{
    width: auto;
    height: 570px;

    
}
.left-section{
    display: flex;
    flex-direction: column;

    
    flex: 1;
}
.container-left-section-image{
    flex: 1;
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
   
    padding-top: 80px;
    

}
.left-section-paragraph{
    /* background-color: rgb(7, 115, 216); */
   flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    /* height: 100%; */
    

}


.right-section{
    display: flex;
    flex: 1;
    justify-content: center;
   background-color: #f8f9ff;
}
.left-section-title p{
    font-size: 2.4rem;
    font-weight: 700;
    color: #101828;
    margin-bottom: 20px;
    /* max-width: 300px; */

}
.left-section-title p span{
    font-size: 2.5rem;
    font-weight: 700;
    color:#85c226;
    margin-bottom: 20px;


}
.left-section-subtitle{
    font-size: 1.3rem;
    color: #475467;
    
}
.contact-button{
    background-color: #85c226;
    border: none;
    color: white;
    padding: 13px 30px;
    border-radius: 27px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
  
  
}
.btn-contact{
    display: flex;
    justify-content: start;
   
}
.logo-image{
    width: 120px;
    height: auto;
    margin-bottom: 20px ;
    position: absolute;
    top: 14px;
    left: 50px;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 270px); /* 2 columnas */
  gap: 2rem; /* 16px */

  width: 100%;
  margin-top:30px;
 
  justify-content: center;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* 12px */

}

.feature-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-green {
  background-color: rgba(133, 194, 38, 0.1); /* #85c226 con 10% */
}

.bg-blue {
  background-color: rgba(22, 97, 124, 0.1); /* #16617c con 10% */
}

.icon-green {
  width: 20px;
  height: 20px;
  color: #85c226;
}

.icon-blue {
  width: 20px;
  height: 20px;
  color: #16617c;
}

.feature-title {
  font-weight: 600;
  color: #111827; /* gris muy oscuro */
  margin: 0;

}

.feature-subtitle {
  font-size: 0.875rem; /* 14px */
  color: #4b5563; /* gris medio */
  margin: 0;
}

@media (max-width: 1400px) {
   .left-section{
        display: none;
    }
}
/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .register-title {
        font-size: 1.5rem; /* Reducir tamaño de título en pantallas pequeñas */
    }

    .register-subtitle {
        font-size: 0.8rem; /* Reducir tamaño de subtítulo */
    }

    .input-group label {
        font-size: 0.75rem; /* Reducir tamaño de fuente de etiquetas */
    }

    .validate-button {
        min-width: 80px; /* Ajustar el ancho mínimo del botón */
    }

    .input-group {
        text-align: left;
        margin: 0;
    }

    .Gruppo{
        display: flex;
        flex-direction: column;
    }
    /* .left-section{
        display: none;
    } */
}
