/* src/css/Sidebar.css */

.sidebar {
  position: fixed;
  top: 0; /* Ajusta según el tamaño de tu navbar */
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #ffffff;
  color:black;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 100; /* Asegúrate de que el sidebar esté por encima del contenido */
  text-align: center;
  box-shadow: 2px 0 8px rgba(10, 110, 110, 0.05);
  border-right: 1px solid #e4eaea;
}
.sidebar__logo-icon{
  color: #85C226; 
  padding-right: 5px;
  font-size: 40px;
  
}

.sidebar .perfil img {
  height: 5.7rem; /* h-20 */
  width: 5.7rem; /* w-20 */
  border: 2px solid white; /* border-2 border-white */
  border-radius: 9999px; /* implícito en el componente Avatar */
  box-shadow: 0 1px 2px 0 #0000000d; /* shadow-sm */



}
.profile-avatar-container{
  padding: 5px;
  border-radius: 200px; /* rounded-full */
  background-image: linear-gradient(to bottom, rgba(180, 210, 51, 0.3), white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-lg */
  display: flex;
  align-items: center;

}
.sidebar.closed .container-logo img {
  display: none;
  
}
.sidebar.closed .profile-avatar-container {
  
  width: 50px;
  height: 50px;


}


.sidebar.closed {
  width: 80px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Asegura que el menú ocupe todo el espacio disponible */
}

.sidebar-menu li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 10px;
  color: #116e6e;
  font-weight: 500;
  font-size: 14px;
  
  

}

.sidebar-menu li a {
  color: white;
  text-decoration: none; /* Elimina el subrayado */
  display: flex;
  align-items: center;
}

.sidebar-menu li i {
  margin-right: 10px;
  font-weight: 500;
}

.sidebar-menu li:hover {
  background-color: #f3f8dd;
  width: 85%;
  border-radius: 10px;

}
.sidebar-menu li:hover i{
  scale: 1.2;
}

.sidebar-menu li:hover a {
  color: white; /* Mantiene el color del texto en hover */
}

.toggle-button {
  position: fixed;
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  z-index: 200; /* Asegúrate de que el botón esté sobre el contenido */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #85C226;
  width: 50px;
  height: 50px;
  color: #85C226; /* Color del ícono */
  transition: left 0.3s ease; /* Transición para ajustar la posición del botón */
}
.sidebar h3{
  margin-top: 0;
  color: #85C226;
}
/* Oculta los encabezados cuando el sidebar está cerrado */
.sidebar.closed h1,
.sidebar.closed h2,
.sidebar.closed h3 {
  display: none;
}
.sidebar.closed img{
  margin-top: 150px;
}

.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Ajusta este valor según sea necesario */
    color:#116e6e;
    font-size: 17px;
    
}
.container-logo img{
 
  /* object-fit: contain!important; */
  width: 140px;
  border-radius: 0px;
  position: relative;
  left: -12px;


}
.container-logo{
  margin-top: 10px;
}
.perfil{
  height: 100px;
  display: flex;
  align-items: center;
  top: -16px;
}
.sidebar.closed img{
  margin-top: 0px;
  width: 40px;
  height: 40px;
}
.sidebar.closed .perfil {
  margin-top: 150px;
}
.role{
  display: flex;
  justify-content: center;
  align-items: center;
}
.role h3{

  color: #116e6e;
  font-size: 0.8rem;
  
  font-weight: 400
}

.role div{
  background-color: #f3f8f8;
  width:max-content;
  height: 22px;
  color: #116e6e;
  border-radius: 10px;
  border: 0.7px solid #116e6e;
  padding: 2px 6px;
  
  
}
.divider{
  border-top: 1px solid #e6e7e8;
  
 
  height: 10px;
  position: relative!important;
 
  width: 100%;
  
}
.divider-links{
  margin-top: 10px;
}
.link-perfil {
  display: flex;
 
  justify-content: center;
  padding: 10px 0px;
}
.link-perfil div{
  background-color: #ffffff;
  width: max-content;
  display: flex;
  gap: 5px;
  border: 0.7px solid #d7e7e7;
  padding: 5px 15px 5px 15px ;
  border-radius: 22px;
  color: #116e6e;
  align-items: center;

}
.container-user-info{
  margin-top:-20px;
}
.divider-close-session{
  height: 10px;
}
.section-title-links{
  margin-left: 10%;
  color: #599b98;
  text-align: start;
  font-size: 12px;
  font-weight: 500;
}
.close-session{
 
 
  text-decoration: none;
  list-style: none;
  padding: 10px 15px;
  width: 100%;
  color: #f05353!important;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 85%;
  border:1px solid #fbcfcf;
  border-radius: 10px;
  
  
}

.close-session:hover{
  background-color: rgba(220, 38, 38, 0.1)!important;
}
.active{
 

  border-radius: 10px;
  position: relative;

  
}
.active:hover{
 

  color: #111;

  
}
li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 4px;
  height: 70%;
  background-color: #b4d233;
  border-radius: 5px 20px 30px 5px;
  transform: translateY(-50%);
}
/* syles close  */
.sidebar.closed .divider{
  display: none;
}
.sidebar.closed .link-perfil{
  display: none;
}
.sidebar.closed  .section-title-links{
  display: none;

}
.sidebar.closed .role{
  display: none;
}
.sidebar.closed .close-session{
border: none;
}