.containerST {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.form-containerST {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.input-groupST {
    margin-bottom: 20px;
}

.input-fieldST {
    width: 100%;
    margin-top: 8px;
}

.error-messageST {
    color: red;
    font-size: 0.9rem;
}

.submit-buttonST {
    width: 100%;
    background-color: #1A76D1;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-buttonST:hover {
    background-color: #1A76D1;
}

.password-input-containerST {
    position: relative;
}

.password-toggle-buttonST {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #4caf50;
}


