/* sign-in.module.css */

/* Contenedor principal */
.page {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #f8f9ff;
  position: relative;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  backdrop-filter: blur(6px);
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.headerText {
  color: #4b5563; /* text-gray-600 */
  font-size: 0.875rem; /* text-sm */
}

.button-register {
  background-color: #16617c; /* azul primario */
  color: white !important;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.5rem 1.25rem;
  border: none;
  transition: background 0.3s ease;
}

.button-register:hover {
  background-color:#16617c; /* hover más oscuro */
}

/* Sección izquierda */
.left {
  width: 40%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #f8f9ff;
}

.leftContent {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  text-align: center;
  align-items: center;
  
  /* background-color: red; */
}
.leftTextContainer{
  flex: 1;
  display: flex;
 justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 17rem;
  padding-top: 2rem;

}
.leftTitle {
  font-size: 1.8rem; /* text-2xl */
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1f2937; /* text-gray-800 */
}

.leftTitle span {
  color: #16617c; /* text-primary */
}

.leftText {
  font-size: 0.875rem;
  color: #374151; /* text-gray-700 */
  margin-bottom: 1.5rem;
}

.phoneContainer {
  position: relative;
  /* flex: 1; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: -40px;
  /* background-color: turquoise; */
}

.container-image {
  max-width: 300px;
}

/* Círculos decorativos */
.container-circle-right {
  position: absolute;
  z-index: 50;
  top: -80px;
  right: 0;
}

.container-circle-left {
  position: absolute;
  z-index: 50;
  left: 0;
  bottom: -100px;
}

/* Sección derecha */
.right {
  width: 60%;
  background-color: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 4rem;
  overflow: hidden;
}

.rightContent {
  max-width: 28rem; /* max-w-md */
  margin: 0 auto;
  width: 100%;
}

.rightTitle {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold;
  color: #16617c;
  margin-bottom: 0.75rem;
}

.rightText {
  font-size: 1.125rem; /* text-[18px] */
  color: #111827; /* text-gray-900 */
}
.phoneImage{
    width: 20em ;
    height: 28em;
    /* object-fit: cover; */
}
@media screen and (max-width:970px ) {
    
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
}