.message__title{
    color: #111;
    font-size: 3.5em;
    font-weight: 700;
}
.message__description{
    font-size: 1.2em;
    font-weight: 400;
}
.message__btn{
    background-color: #2f6ec5;
    border-color: #2f6ec5;
    font-size: 1.3em;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}